<h2>New entry</h2>
<form action="/workouts" method="POST">
    <p>
        <label for="exercise_name">Exercise name:</label>
        <input type="text" name="exercise_name" placeholder="Bench press" value="Bench press" />
    </p>
    <p>
        <label for="place_name">Place:</label>
        <input type="text" name="place_name" placeholder="Virgin Active Raffles" value="Virgin Active Raffles" />
    </p>
    <p>
        <label for="weight_kg">Weight in kg:</label>
        <input type="text" name="weight_kg" placeholder="15" value="15" />
    </p>
    <p>
        <label for="sets_count">No of Sets:</label>
        <input type="text" name="sets_count" placeholder="3" value="3" />
    </p>
    <p>
        <label for="reps_count">No of Reps:</label>
        <input type="text" name="reps_count" placeholder="8" value="8" />
    </p>
    <button type="submit">Save new entry</button>
</form>

<h2>Get weights</h2>
<ul>
    <% for (var i = 0; i < userExercises.length; i++) { %>
        <li data-exercise-id="<%= userExercises[i].id %>">
            <%= userExercises[i].name %>
        </li>
        <% } %>
</ul>

<h2>My previous workout sessions</h2>

<% for (let date in workouts) { %>
    <% const _workoutsInThisDay = workouts[date] %>
    <p>
        <%= date %>
        <%= momentjs(date).format('D MMMM (ddd)') %>:
    </p>
    <ul>
        <% for (let j = 0; j < _workoutsInThisDay.length; j++) { %>
            <% const _workout = _workoutsInThisDay[j] %>
            <li>
                <a href="/workouts/<%= _workout.id %>/edit">
                    <%= _workout.exercise.name %>:
                    <%= _workout.sets_count %> x
                    <%= _workout.reps_count %>,
                    <%= _workout.weight_kg %>kg
                </a>
            </li>
        <% } %>
    </ul>
<% } %>

<h2>Exercises by frequency</h2>
<p>(dev note: make these clickable and pre-fill New entry form)</p>
<table>
    <tr>
        <td style="background-color: yellow">exercise 1</td>
        <td style="background-color: red">exercise 2</td>
        <td style="background-color: yellow">exercise 3</td>
    </tr>
    <tr>
        <td style="background-color: greenyellow">exercise 4</td>
        <td style="background-color: orange">exercise 5</td>
        <td></td>
    </tr>
</table>