<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" integrity="sha256-59IZ5dbLyByZgSsRE3Z0TjDuX7e1AiqW5bZ8Bg50dsU="
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</head>

<h2>New entry</h2>
<form action="/workouts" method="POST">
    <p>
        <label for="exercise_name">Exercise name:</label>
        <input type="text" name="exercise_name" placeholder="Bench press" value="Bench press" />
    </p>
    <p>
        <label for="place_name">Place:</label>
        <input type="text" name="place_name" placeholder="Virgin Active Raffles" value="Virgin Active Raffles" />
    </p>
    <p>
        <label for="weight_kg">Weight in kg:</label>
        <input type="text" name="weight_kg" placeholder="15" value="15" />
    </p>
    <p>
        <label for="sets_count">No of Sets:</label>
        <input type="text" name="sets_count" placeholder="3" value="3" />
    </p>
    <p>
        <label for="reps_count">No of Reps:</label>
        <input type="text" name="reps_count" placeholder="8" value="8" />
    </p>
    <button type="submit">Save new entry</button>
</form>

<h2>Get weights</h2>
<ul>
    <% for (var i = 0; i < userExercises.length; i++) { %>
        <li data-exercise-id="<%= userExercises[i].id %>">
            <%= userExercises[i].name %>
        </li>
    <% } %>
</ul>

<h2>My previous workout sessions</h2>

<% for (let date in workouts) { %>
    <% const _workoutsInThisDay = workouts[date] %>
    <p>
        <%= momentjs(date).format('D MMMM (ddd)') %>:
    </p>
    <ul>
        <% for (let j = 0; j < _workoutsInThisDay.length; j++) { %>
            <% const _workout = _workoutsInThisDay[j] %>
            <li>
                <a href="/workouts/<%= _workout.id %>/edit">
                    <%= _workout.exercise.name %>:
                    <%= _workout.sets_count %> x
                    <%= _workout.reps_count %>,
                    <%= _workout.weight_kg %>kg
                </a>
            </li>
        <% } %>
    </ul>
<% } %>

<h2>Exercises by frequency</h2>
<p>(dev note: make these clickable and pre-fill New entry form)</p>
<table>
    <tr>
        <td style="background-color: yellow">exercise 1</td>
        <td style="background-color: red">exercise 2</td>
        <td style="background-color: yellow">exercise 3</td>
    </tr>
    <tr>
        <td style="background-color: greenyellow">exercise 4</td>
        <td style="background-color: orange">exercise 5</td>
        <td></td>
    </tr>
</table>

<body>
    
</body>
</html>